.AboutContent {
  grid-area: content;
  padding: 10px;
  display: flex;
}

.AboutContent-imageContainer {
  width: 100%;
}

.AboutContent-text {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 18px;
}

.AboutContent-thingsILike {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bolder;
}

.AboutContent-finalBlurb {
  margin-top: 15px;
}

@media (min-width: 700px) {
  .AboutContent {
    flex-direction: row;
  }

  .AboutContent-text {
    margin-top: 0;
  }
}

