.BigPicture {
  grid-area: content;
  position: relative;
}

.BigPicture-image {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 20px);
}

.BigPicture-explainerText {
  margin-top: 5px;
}

@media (min-width: 700px) {
  .BigPicture-image {
    max-height: calc(100vh - 70px);
  }
}

@media (min-width: 1100px) {
  .BigPicture-image {
    max-height: calc(100vh - 100px);
  }
}
