.Sidebar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-radius: 13px;
  padding: 5px 20px;
}

.Sidebar-wideContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.Sidebar-linkContainer {
  display: none;
}

.Sidebar-mainName {
  font-size: 24px;
  font-weight: bolder;
  margin-right: 10px;
  margin-left: -3px;
}

.Sidebar-listLink {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}

.Sidebar-listLink:hover {
  font-weight: bolder;
}

.Sidebar-iconContainer {
  margin-left: auto;
}

.Sidebar-icon {
  margin: 0 5px;
}

.Sidebar-linkContainer--narrow {
  margin-top: 3px;
}

@media (min-width: 700px) {
  .Sidebar-mainName {
    font-weight: bolder;
    margin-right: 10px;
  }

  .Sidebar-linkContainer {
    display: inherit;
  }

  .Sidebar-linkContainer--narrow {
    display: none;
  }

  .Sidebar-listLink {
    margin-right: 0;
    margin-left: 10px;
  }
}

@media (min-width: 1100px) {
  .Sidebar {
    display: inline-table;
  }
  
  .Sidebar-wideContainer {
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 50px;
  }

  .Sidebar-linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Sidebar-linkContainer--narrow {
    display: none;
  }

  .Sidebar-outlineContainer {
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 50px;
  }

  .Sidebar-mainName {
    font-size: 32px;
    font-weight: bolder;
    margin: 10px 0;
  }

  .Sidebar-iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
  }

  .Sidebar-listLink {
    margin-bottom: 5px;
    margin-left: 0;
  }
}


